#!/bin/sh

# Make vim the default editor.
export EDITOR='vim';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Export JDK environment variable used for build
export JDK15=$(asdf where java adoptopenjdk-15.0.2+7)
export JDK11=$(asdf where java adoptopenjdk-11.0.10+9)
export JDK8=$(asdf where java adoptopenjdk-8.0.282+8)
export JDK7=$(asdf where java zulu-7.44.0.11)
